/* 

---01 TYPOGRAPHY SYSTEM
- Font size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weight:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
- 0.5px
- 0.75px

COLOR
- Primary: #e67e22
- Shadow: #cf711f
- Tint: #fdf2e9

GREYS
#555
#333


SHADOWS

BORDER-RADIUS

---05 whitespace
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "rubik", sans-serif;
}
/* ******************************** */
/* GENERAL */
/* ******************************** */
.container {
  margin: 0 auto;
}

/* ******************************** */
/* GRID */
/* ******************************** */
.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

/* ******************************** */
/* BUTTON */
/* ******************************** */

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 500;
  text-decoration: none;
  padding: 1.2rem 3.2rem;
  background-color: #999;
}
