/* 

---01 TYPOGRAPHY SYSTEM
- Font size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weight:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
- 0.5px
- 0.75px

COLOR
- Primary: #e67e22
- Shadow: #cf711f
- Tint: #fdf2e9

TAG COLOR
- Vegatarian : #51cf66
- Vagan: #8ce99a
- Pablo: #fcc419

GREYS
#555
#333
#777 (p font-color)


SHADOWS
- 




BORDER-RADIUS
- 0.9rem




---05 whitespace
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "rubik", sans-serif;
}

strong {
  font-weight: 600;
}

/* ******************************** */
/* GENERAL */
/* ******************************** */
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/* ******************************** */
/* GRID */
/* ******************************** */
.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--v {
  margin-top: 9.6rem;
  justify-content: center;
  align-items: center;
  row-gap: 9.6rem;
}

/* ******************************** */
/* BUTTON */
/* ******************************** */

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;

  border-radius: 0.9rem;

  transition: all 0.3s;
}

.btn--fill {
  background-color: #e67e22;
  color: #fff;
}
.btn--fill:hover {
  background-color: #cf711f;
}

.btn--outline {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

/* ******************************** */
/* HELPER CLASS */
/* ******************************** */

.margin-right-sm {
  margin-right: 2.4rem;
}

.text--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
