/* ******************************** */
/* NAVIGATION */
/* ******************************** */
.header {
  display: flex;
  justify-content: space-between;
  padding: 6.4rem 4.8rem 4.8rem;

  background-color: #fdf2e9;
}
.header-logo {
  height: 2.4rem;
}
.main-nav-list {
  display: flex;
  gap: 3.2rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8;
  color: #555;
  text-decoration: none;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.main-nav-link.link--fill {
  background-color: #e67e22;
  padding: 1.2rem 3.2rem;
  border-radius: 0.8rem;
  color: #fff;
}
.main-nav-link.link--fill:hover {
  background-color: #cf711f;
}

/* ******************************** */
/* HERO SECTION */
/* ******************************** */

.section-hero {
  padding: 4.8rem 12.8rem 9.6rem;
  background-color: #fdf2e9;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 100%;
}

.hero-heading {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -1px;
  margin-bottom: 3.2rem;
  color: #333;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 3.2rem;
  color: #333;
}

.hero-imgs {
  display: flex;
}

.hero-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border: 3px solid #fdf2e9;
  border-radius: 50%;
  margin-right: -1.6rem;
}
.delivery-box {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-top: 8.6rem;
}

.hero-imgs img:last-child {
  margin-right: 0;
}

.hero-delivery-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: #555;
}
.hero-delivery-text span {
  color: #cf711f;
  font-weight: 700;
}

/* ******************************** */
/* FEATURED IN SECTION */
/* ******************************** */
.section-featured {
  padding: 4.8rem 0;
}

.featured-logos {
  display: flex;
  justify-content: space-around;
}

.featured-logos img {
  filter: brightness(0);
  opacity: 50%;
  height: 3.2rem;
}

.featured-in {
  text-align: center;
  color: #777;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
  font-weight: 500;
}

/* ******************************** */
/* HOW IT WORKS SECTION */
/* ******************************** */
.section-how {
  padding: 9.6rem 0;
}
.subheading {
  text-align: center;
  font-size: 2rem;
  color: #cf711f;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.heading-secondary {
  text-align: center;
  font-size: 4.8rem;
  color: #555;
}

.step-text-box {
  padding: 3.6rem;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 700;
  color: #dee2e6;
  margin-bottom: 1.8rem;
}
.heading-tertiary {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 4.8rem;
  line-height: 1.2;
  letter-spacing: -1px;
  color: #333;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #777;
}
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.step-img {
  height: 40rem;
}
.step-img-box::before {
  content: "";
  height: 25rem;
  width: 25rem;
  background-color: #fae5d3;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  z-index: -1;
}
.step-img-box::after {
  content: "";
  height: 35rem;
  width: 35rem;
  background-color: #fdf2e9;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  z-index: -2;
}
