/* ******************************** */
/* NAVIGATION */
/* ******************************** */
.header {
  display: flex;
  justify-content: space-between;
  padding: 6.4rem 4.8rem 4.8rem;

  background-color: #fdf2e9;
}
.header-logo {
  height: 2.4rem;
}
.main-nav-list {
  display: flex;
  gap: 3.2rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8;
  color: #555;
  text-decoration: none;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.main-nav-link.link--fill {
  background-color: #e67e22;
  padding: 1.2rem 3.2rem;
  border-radius: 0.8rem;
  color: #fff;
}
.main-nav-link.link--fill:hover {
  background-color: #cf711f;
}

/* ******************************** */
/* HERO SECTION */
/* ******************************** */

.section-hero {
  padding: 4.8rem 12.8rem 9.6rem;
  background-color: #fdf2e9;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 100%;
}

.hero-heading {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -1px;
  margin-bottom: 3.2rem;
  color: #333;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 3.2rem;
  color: #333;
}

.hero-imgs {
  display: flex;
}

.hero-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border: 3px solid #fdf2e9;
  border-radius: 50%;
  margin-right: -1.6rem;
}
.delivery-box {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-top: 8.6rem;
}

.hero-imgs img:last-child {
  margin-right: 0;
}

.hero-delivery-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: #555;
}
.hero-delivery-text span {
  color: #cf711f;
  font-weight: 700;
}

/* ******************************** */
/* FEATURED IN SECTION */
/* ******************************** */
.section-featured {
  padding: 4.8rem 0;
}

.featured-logos {
  display: flex;
  justify-content: space-around;
}

.featured-logos img {
  filter: brightness(0);
  opacity: 50%;
  height: 3.2rem;
}

.featured-in {
  text-align: center;
  color: #777;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
  font-weight: 500;
}

/* ******************************** */
/* HOW IT WORKS SECTION */
/* ******************************** */
.section-how {
  padding: 9.6rem 0;
}

.step-text-box {
  padding: 3.6rem;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 700;
  color: #dee2e6;
  margin-bottom: 1.8rem;
}
.heading-tertiary {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 4.8rem;
  line-height: 1.2;
  letter-spacing: -1px;
  color: #333;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #777;
}
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.step-img {
  height: 40rem;
}
.step-img-box::before {
  content: "";
  height: 25rem;
  width: 25rem;
  background-color: #fae5d3;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  z-index: -1;
}
.step-img-box::after {
  content: "";
  height: 35rem;
  width: 35rem;
  background-color: #fdf2e9;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  z-index: -2;
}

/* ******************************** */
/* MEALS SECTION */
/* ******************************** */
.section-meals {
  padding: 9.6rem 0;
}

.grid--adjustments {
  margin-top: 9.6rem;
  column-gap: 6.4rem;
}

.recipe-info-box {
  border-radius: 0.9rem;
  overflow: hidden;

  box-shadow: 0 2.4rem 3.6rem 0 rgba(85, 85, 85, 0.1);

  transition: all 0.4s;
}

.recipe-info-box:hover {
  transform: translate(0, -1.2rem);
  box-shadow: 0 2.4rem 4.8rem 0 rgba(85, 85, 85, 0.075);
}

.recipe-img-box {
  height: 20rem;
  margin-bottom: 2.4rem;
}
.meals-img {
  width: 100%;
}

.recipe-nutrition-box {
  padding: 4.8rem;
}

.recipe-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #555;
  margin-bottom: 3.6rem;
}

.nutrition-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.8rem;
  color: #555;
}

.nutrition-item {
  font-size: 1.8rem;
  line-height: 1.8;

  display: flex;
  align-items: center;
}

.tag {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;

  border-radius: 1.2rem;
  padding: 0.6rem;
}

.tag--vagetarian {
  background-color: #51cf66;
}

.tag--vagan {
  background-color: #8ce99a;
}

.tag--paleo {
  background-color: #fcc419;
}

.tag-box {
  display: flex;
  gap: 1.8rem;
  margin-bottom: 1.2rem;
}

.nutrition-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
  margin-right: 1.2rem;
}

.diet-box-title {
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  line-height: 1.2;
  margin-bottom: 3.6rem;
}
.diet-box-list {
  display: flex;
  flex-direction: column;

  gap: 2rem;
  list-style: none;
}
.diet-list-item {
  display: flex;
  align-items: center;

  font-size: 1.8rem;
  line-height: 1.8;
  color: #555;
}
.diet-icon {
  height: 2.8rem;
  width: 2.8rem;
  color: #e67e22;

  margin-right: 1.6rem;
}

.all-recipes {
  text-align: center;
  margin-top: 3.6rem;
}

.link-more-info:link,
.link-more-info:visited {
  font-size: 1.8rem;
  line-height: 1.8;
  text-decoration: none;
  padding-bottom: 0.6rem;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;
}

.link-more-info:hover,
.link-more-info:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/* ******************************** */
/* TESTIMONIALS SECTION */
/* ******************************** */
.section-testimonials {
  margin: 9.6rem 0;
  background-color: #fdf2e9;
}

.testimonial-container {
  padding: 9.6rem;
}
.testinmonal-box {
  display: grid;
  grid-template-columns: 55fr 45fr;

  align-items: center;
}

.feedbacks-container {
  margin-top: 9.6rem;
  row-gap: 4.8rem;
  column-gap: 4.8rem;
}

.feedback-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.feedback-customer-img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
}
.feedback-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #555;
}
.customer-name {
  font-size: 1.6rem;
  color: #777;
}

.gallary-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-content: center;
  align-items: center;
  column-gap: 1.6rem;
  row-gap: 1.6rem;
  padding: 1.6rem;
}

.gallary-img-box {
  overflow: hidden;
}
.gallary-img {
  display: block;
  width: 100%;

  transition: all 0.4s;
}

.gallary-img:hover {
  transform: scale(1.1);
}

.testimonial-heading-adjustments {
  text-align: left;
}

/* ******************************** */
/* PRCING  SECTION */
/* ******************************** */
.section-pricing {
  margin: 9.6rem 0;
}
.pricing-box {
  margin-top: 9.6rem;

  width: 75%;
  padding: 3.6rem;
  border-radius: 1.2rem;
  position: relative;
  overflow: hidden;
}
.pricing-container-adjustments {
  gap: 4.8rem;
}

.box--outline {
  border: 3px solid #fdf2e9;
}

.box--fill {
  background-color: #fdf2e9;
}

.best-value-mark::after {
  content: "best value";
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #555;
  background-color: #fcc419;
  width: 17rem;

  padding: 0.8rem 2.4rem;
  transform: rotate(45deg);
  position: absolute;

  top: 8%;
  right: -11%;
}

.pricing-plan {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.pricing-price {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.pricing-price span {
  font-size: 3rem;
  margin-right: 1.2rem;
  font-weight: 500;
}

.pricing-description {
  text-align: center;
  font-size: 1.8rem;
  color: #777;
}

.plan-list {
  margin-top: 4.8rem;
  padding: 0 0.8rem;

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.list-item {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  color: #333;
}
.plan-sign-up {
  display: flex;
  justify-content: center;
}

.btn--signup:link,
.btn--signup:visited {
  margin-top: 4.8rem;
  border-radius: 0.9rem;
  padding: 1.2rem 3.6rem;
  background-color: #e67e22;
  color: #fff;

  transition: all 0.3s;
}

.btn--signup:hover,
.btn--signup:active {
  background-color: #cf711f;
}

.price-icon {
  width: 2.8rem;
  height: 2.8rem;
  color: #e67e22;
  margin-right: 1.2rem;
}

.price-box-adjustments {
  justify-self: end;
}

.pricing-bottom-note {
  margin-top: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
  color: #777;
}

.features {
  margin-top: 4.8rem;
  gap: 2.4rem;
}

.feature-icon {
  width: 3.6rem;
  height: 3.6rem;
  padding: 2rem;
  color: #cf711f;
  background-color: #fae5d3;
  border-radius: 50%;
  margin-bottom: 2.4rem;
}
.feature-heading {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  color: 555;
  margin-bottom: 1.2rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #777;
}

/* ******************************** */
/* CTA  SECTION */
/* ******************************** */

.section-cta {
  margin: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;

  border-radius: 1.2rem;
  box-shadow: 0 2.4rem 3.6rem 0 #e9ecef;

  overflow: hidden;

  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);

  box-shadow: 0 2.4rem 2.4rem 0 rgba(222, 226, 230, 0.5);
}

.cta-img-box {
  background-image: linear-gradient(to right bottom, #eb974e49, #e67d223e),
    url("/img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-heading {
  font-size: 4.2rem;
  font-weight: 700;
  color: #45260a;
  line-height: 1.2;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #5c320e;
}

.cta-form-box {
  margin-top: 3rem;
  column-gap: 3.6rem;
  row-gap: 3.6rem;
}
.cta-content-box {
  padding: 4.8rem;
}

.cta-form-box {
  justify-content: center;
  align-items: center;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-item input,
.form-item select {
  border: none;
  width: 100%;
  padding: 1.2rem;
  border-radius: 0.8rem;
}

.form-label {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 0.8rem;
}

.sign-up-btn {
  align-self: end;
  width: 100%;
  padding: 1.2rem 3.6rem;
  border-radius: 0.8rem;
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  background-color: #a15818;

  transition: all 0.3s;
}

.sign-up-btn:hover {
  background-color: #fff;
  color: #a15818;
}
