/* ******************************** */
/* NAVIGATION */
/* ******************************** */
.header {
  display: flex;
  justify-content: space-between;
  padding: 4.8rem;

  background-color: #fdf2e9;
}
.header-logo {
  height: 2.4rem;
}
.main-nav-list {
  display: flex;
  gap: 3.2rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8;
  color: #333;
  text-decoration: none;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.main-nav-link.link--fill {
  background-color: #e67e22;
  padding: 1.2rem 3.2rem;
  border-radius: 0.8rem;
  color: #fff;
}
.main-nav-link.link--fill:hover {
  background-color: #cf711f;
}

/* ******************************** */
/* HERO SECTION */
/* ******************************** */

.section-hero {
  padding: 9.6rem 12.8rem 9.6rem;
  background-color: #fdf2e9;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
}

.hero-img {
  width: 100%;
}

.hero-heading {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -1px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 3.2rem;
}
